.body {
    min-height: 70vh;
    padding: 39px 0 64px;

}

.content {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
}

.titleCont {
    max-width: 617px;
}

.title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.03em;
    padding: 0 0 25px 0;
}

.subTitle {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-family: 'Inter', sans-serif;
    text-align: left;
    padding-bottom: 47px;
}

.content {
    display: flex;
}

.contentLeft {
    flex: 0 1 66.66%;
}


@media(max-width: 1200px) {
    .titleImgFolder {
        display: none;
    }

    .formRocket {
        display: none;
    }

    .titleImgDock {
        position: absolute;
    }
}