.body {
    min-height: 70vh;
}

.title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.03em;
}

.subTitle {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-family: 'Inter', sans-serif;
}