.carousel {
    text-align: center;
    position: relative;
}

.title {
    font-size: 45px;
    padding: 100px 0px 70px 60px;
}

.cards {
    display: flex;
    align-items: center;
    padding: 0 86px;    
}

.card {
    flex: 0 1 33.33%;
    height: 225px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.card:nth-child(2) {
    margin: 0 30px;
}

.card:nth-child(n+4) {
    display: none;
}

.cardIcon {
    text-align: left;
    padding: 22px 0 12px 19px;
}

.cardText {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
    padding: 12px 10px 10px 20px;
}

.arr {
    cursor: pointer;
    font-size: 50px;
    font-weight: 900;
}

.arrLeft {
    position: absolute;
    top: 10%;
    left: 3%;
}

.arrRight {
    /* transform: rotate(180deg); */
    position: absolute;
    top: 10%;
    right: 3%;
}

.whyImage {
    padding-top: 95px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    overflow: hidden
}

@media(max-width: 960px) {
    .card {
        flex: 0 1 50%;
    }

    .card:nth-child(n+3) {
        display: none;
    }
        .card:nth-child(2) {
            margin: 0 0 0 20px;
            padding: 0;
        }
}

@media(max-width: 710px) {
    .card {
        flex: 0 1 100%;
    }
        .card:nth-child(n+2) {
            display: none;
        }
}